.border.rounded.py-3.px-4.bg-white.shadow-sm
    table.table.table-hover
        thead 
            tr
            each value in entities[entities.findIndex(i => i.name == params.entity)].tableFields
                th.text-body-secondary.fw-bold(style='font-size: 11px')= value.toUpperCase()
        tbody
            - for (var i = 0; i < records.length; i++)
                tr
                    each field in entities[entities.findIndex(i => i.name == params.entity)].tableFields
                        td(style='font-size: 14px')= records[i][field]
