.border.rounded-3.py-3.px-4.bg-white
    table.table.table-hover
        thead 
            tr 
            each value in entities[entities.findIndex(i => i.name == params.entity)].tableFields
                th= value.toUpperCase()
        tbody
            - for (var i = 0; i < records.length; i++)
                tr
                    each field in entities[entities.findIndex(i => i.name == params.entity)].tableFields
                        td= records[i][field]
